[submodule "sand-table-pattern-maker"]
	path = sand-table-pattern-maker
	url = https://github.com/markroland/sand-table-pattern-maker.git
[submodule "Sand-Table"]
	path = Sand-Table
	url = https://github.com/rdudhagra/Sand-Table.git
