<mat-card>
  <mat-card-content>
    <div class="cont">
      <div>
        <mat-card-title> Patterns </mat-card-title>
        <mat-form-field appearance="standard">
          <mat-label>Pattern</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let pattern of patterns"
              [value]="pattern.name"
              (onSelectionChange)="sendPattern($event)"
            >
              {{ pattern.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br />
